
.flex_grid {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
  }
  .flex_grid .col {
    width: 48%;
  }
  
  @media (max-width: 400px) {
    .flex_grid {
      display: block;
    }
  }

  @media (max-width: 400px) {
    .col{
        width:100%!important;
        margin: 0 0 10px 0;
        display:block!important;
    }
  }
  .col {
    border-radius:16px;
    height:400px;
    display:flex;
    margin: 0 0 10px 0;
  }

  body {
      padding:20px;
      background: #E5E5E5;
  }

  .left{
    width:400px;
    height:400px;
    border-top-left-radius:16px;
    border-bottom-left-radius:16px;
    background: linear-gradient(to left top,  #f395ba 0%,#fed182 100%);
  }

  .right{
      background-color:white;
      width:590px;
      height:400px;
      border-top-right-radius:16px;
      border-bottom-right-radius:16px;
  }

  .innerRight{
      text-align:left;
      margin:40px;
  }

  @media (max-width: 400px) {
    .innerRight{
      height:250px;
      width:250px;
      margin:0px;
      text-align:left;
      margin-left:20px;
      border:1px solid white;
      font-size:12px;
    }
  }

  @media (max-width: 400px) {
    .left{
        width:318px!important;
        display:block;
        height:150px;
        border-top-left-radius:16px;
        border-top-right-radius:16px;
        border-bottom-left-radius:0px;
        background: linear-gradient(to left top,  #f395ba 0%,#fed182 100%);
    }
  }

  @media (max-width: 400px) {
    .right{
        width:318px!important;
        display:block;
        background-color:white;
        height:250px;
        border-bottom-left-radius:16px;
        border-bottom-right-radius:16px;
        border-top-right-radius:0px;
        margin-bottom:20px;
    }
  }

  .innerDiv{
    display: table-cell;
    width: 400px;
    height: 400px;
    vertical-align: middle;
    text-align: center;
  }

  .circle{
    display: inline-block;
    width: 200px;
    height: 200px;
    border:1px solid black;
    border-radius:50%;
}

@media (max-width: 400px) {
    .innerDiv{
        height: 150px;
        width: 318px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
  }
}

@media (max-width: 400px) {
    .circle{
        display: inline-block;
        width: 100px;
        height: 100px;
        border:1px solid black;
        border-radius:50%;
  }
}
